<header>
    <div class="logo-container">
        <img src="assets/images/CODE_Logos/PNG/Word_Main/Word_Main_White.png" alt="CODE University of Applied Sciences Logo" class="logo">
    </div>
    <h1>Student Manager</h1>
    <nav>
        <!--In this section I tried implementing a dropdown menu icon in order not to have the links to the other pages displayed accross the navbar.-->
        <div class="menu-icon" id="menu-icon">&#9776;</div>
        <ul class="dropdown" id="dropdown">
            <li><a href="dashboard"><img src="assets/icons/CODE_Icon_Brackets/Icon_Brackets_White.png" alt="Icon"> Dashboard</a></li>
            <li><a href="my-lists"><img src="assets/icons/CODE_Icon_Brackets/Icon_Brackets_White.png" alt="Icon"> My Lists</a></li>
            <li><a href="new-list"><img src="assets/icons/CODE_Icon_Brackets/Icon_Brackets_White.png" alt="Icon"> New List</a></li>
            <li><a href="completed-tasks"><img src="assets/icons/CODE_Icon_Brackets/Icon_Brackets_White.png" alt="Icon"> Completed Tasks</a></li>
            <li><a href="settings"><img src="assets/icons/CODE_Icon_Brackets/Icon_Brackets_White.png" alt="Icon"> Settings</a></li>
            <li><a href="login/register"><img src="assets/icons/CODE_Icon_Brackets/Icon_Brackets_White.png" alt="Icon"> Login</a></li>
        </ul>
    </nav>
    <!--This div is for a button feature in case users like myself would want the option to toggle between dark and light mode.-->
    <!-- <div class="switch" id="edm"> -->
        <input type="checkbox" id="mode-toggle">
        <!-- <span class="slider"></span>
    </div> -->
</header>