<section>
    <h2>Create a New List</h2>
    <form id="new-list-form" class="form">
        <input type="text" placeholder="List Name" required>
        <textarea placeholder="Description"></textarea>
        <button type="submit">Create List</button>
    </form>
    <h3>Example Lists</h3>
    <ul class="grid">
        <li class="task-box">Example List 1</li>
        <li class="task-box">Example List 2</li>
        <li class="task-box">Example List 3</li>
        <li class="task-box">Example List 4</li>
        <li class="task-box">Example List 5</li>
        <li class="task-box">Example List 6</li>
        <li class="task-box">Example List 7</li>
        <li class="task-box">Example List 8</li>
        <li class="task-box">Example List 9</li>
        <li class="task-box">Example List 10</li>
        <li class="task-box">Example List 11</li>
        <li class="task-box">Example List 12</li>
        <li class="task-box">Example List 13</li>
        <li class="task-box">Example List 14</li>
        <li class="task-box">Example List 15</li>
    </ul>
</section>