<section class="form-section">
    <h2>Register</h2>
    <form id="register-form" class="form" action="/register" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="text" name="firstName" placeholder="First Name" required>
        <input type="text" name="lastName" placeholder="Last Name" required>
        <input type="email" name="email" placeholder="University Email (your.name@code.berlin)" required pattern="^[a-zA-Z0-9._%+-]+@code\.berlin$">
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        <button type="submit">Register</button>
    </form>
</section>

<script src="/scripts/register.js"></script>